<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Area | Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/responsive.css" />
</head>
<body>
    <header>
        <nav id="nav-bar">
            <div class="logo">
                <h1>Questioner</h1>
            </div>
            <div class="icons">
                <div class="icon text-center">
                    <a href="#"><img src="../assets/img/profile.png" title="My Profile"></a>
                </div>
                <div class="icon text-center">
                    <a href="#"><img src="../assets/img/logout.png" title="Logout"></a>
                </div>
            </div>
        </nav>
    </header>

    <header>
        <div class="hero">
            <div class="hero-copy">
                <h1>Admin Panel</h1>
            </div> <!-- end hero-copy -->

            <div class="hero-image">
                <!-- <img src="img/" alt="hero-image"> -->
                <a href="addnew.html"><span class="button add"> + Add new meetup</span></a>
            </div>
        </div> <!-- end hero -->
    </header>
    <div class="container">
        <div class="wrapper">
            <section class="profile">
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <img src="#" alt="image">
                    </div>
                    <div class="col" id="col2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
            </section>
            
        </div> <!-- end wrapper -->
    </div> <!-- end container -->
</body>
</html>