
/************ Non-Mobile First Method ************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.container {
		max-width: 960px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container {
		max-width: 870px;
    }
	.card {
        max-width: 80%;
    }

    /* Single page (meetup.html) */
    .display {
        margin-top: 5px;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .display #col1, .display #col2 {
        border-radius: 5px;
    }

    /* Comments page (comment.html) */
    .row {
        margin-bottom: 10px;
    }
    .col {
        margin: 5px;
        padding: 0 10px;
    }
    .replies {
        grid-template-columns: 1fr;
    }
    .comment-reply {
        background: #f5f5f5;
    }
    .questions, .comment, .comment-reply {
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    
    .questions #avatar, .comment #avatar, .comment-reply #avatar {
        visibility: hidden;
    }
    .questions #name, .comment #name, .comment-reply #name {
        font-size: 16px;
        font-weight: bold;
        margin-left: 15px;
        display: inline-block;
    }
    
    .questions #upvote, #downvote, #reply,
    .comment #upvote, #downvote {
        position: relative;
        bottom: 0;
    }
    
    .questions #downvote,
    .comment #downvote {
        right: -50px;
    }
    
    .questions #reply {
        right: -85px;
        border: 0 none;
        color: #fff;
        margin: 3px 0;
        cursor: pointer;
        background: rgb(30, 67, 99);
    }
    #commentForm {
        float: left;
        font-size: 14px;
        width: 100%;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 768px) {
	.container {
		max-width: 660px;
    }

    .card {
        box-shadow: none;
    }
    nav {
        box-shadow: none;
    }

    /* Single page (meetup.html) */
    .display {
        margin-top: 5px;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .display #col1, .display #col2 {
        border-radius: 5px;
    }
    .questions #reply {
        right: -50px !important;
    }
    .questions #downvote,
    .comment #downvote {
        right: -30px;
    }
    #questionForm {
        width: 100%;
    }
    /* Comments page (comment.html) */
    .row {
        margin-bottom: 10px;
    }
    .col {
        padding: 0 10px;
    }
    .replies {
        grid-template-columns: 1fr;
    }
    .comment-reply {
        background: #f5f5f5;
    }
    .questions, .comment, .comment-reply {
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    
    .questions #avatar, .comment #avatar, .comment-reply #avatar {
        visibility: hidden;
        position: absolute;
    }
    .questions #name, .comment #name, .comment-reply #name {
        font-size: 16px;
        font-weight: bold;
        margin-left: 15px;
        display: inline-block;
    }
    
    .questions #upvote, #downvote, #reply,
    .comment #upvote, #downvote {
        position: relative;
        bottom: 0;
    }
    
    .questions #downvote,
    .comment #downvote {
        right: -50px;
    }
    
    .questions #reply {
        right: -85px;
        border: 0 none;
        color: #fff;
        margin: 3px 0;
        cursor: pointer;
        background: rgb(30, 67, 99);
    }
    #commentForm {
        float: left;
        font-size: 14px;
        width: 100%;
    }
    /* Admin Page (admin.html) */
    .hero {
        display: block;
    }
    .hero-image {
        padding-left: 10px;
    }
    .hero .button {
        font-size: 14px;
        font-weight: normal;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.container {
        margin: 0;
    }

    .card {
        max-width: 100%;
        box-shadow: none;
    }

    nav {
        box-shadow: none;
    }

    h1 {
        font-size: 24px;
    }

    body {
        font-size: 14px;
    }

    .card-header {
        margin-left: 18 px;
        text-align: left;
        font-size: 20px;
    }

    input {
        padding: 10px;
        font-size: 16px;
        width: 80%;
        margin: 10px auto;
    }
    
    input[type="submit"] {
        margin-top: 20px;
        font-size: 16px;
        cursor: pointer;
    }
    
    input::placeholder {
        font-size: 14px;
    }

    span {
        font-size: 12px;
        margin: 0;
    }

    .button {
        padding: 10px 20px;
        border-radius: 5px;
    }

    /* Single page (meetup.html) */
    .display {
        margin-top: 5px;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .display #col1, .display #col2 {
        border-radius: 5px;
    }
    .questions #reply {
        right: -50px !important;
    }
    .questions #downvote,
    .comment #downvote {
        right: -30px;
    }
    #questionForm {
        width: 100%;
    }

    /* Comments page (comment.html) */
    .row {
        margin-bottom: 10px;
    }
    .col {
        padding: 0 10px;
    }
    .replies {
        grid-template-columns: 1fr;
    }
    .comment-reply {
        background: #f5f5f5;
    }
    .questions, .comment, .comment-reply {
        padding: 0;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    
    .questions #avatar, .comment #avatar, .comment-reply #avatar {
        visibility: hidden;
    }
    .questions #name, .comment #name, .comment-reply #name {
        font-size: 16px;
        font-weight: bold;
        margin-left: 15px;
        display: inline-block;
    }
    
    .questions #upvote, #downvote, #reply,
    .comment #upvote, #downvote {
        position: relative;
        bottom: 0;
    }

    #commentForm {
        float: left;
        font-size: 14px;
        width: 100%;
    }

    /* Admin Page (admin.html) */
    .hero {
        display: block;
    }
    .hero-image {
        padding-left: 10px;
    }
    .hero .button {
        font-size: 14px;
        font-weight: normal;
    }
    .meetups {
        display: block;
        margin: 5px;
    }
    .meetups img {
        visibility: hidden;
        position: absolute;
    }
    .meetups #col3 {
        border-left: 3px solid #f18728;
    }
    .meetups #col2 {
        border-bottom: 1px solid #f5f5f5;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
        .card {
        max-width: 100%;
        box-shadow: none;
    }

    h1 {
        font-size: 22px;
    }

    body {
        font-size: 12px;
    }

    nav {
        box-shadow: none;
    }

    .card-header {
        margin-left: 16 px;
        text-align: left;
        font-size: 16px;
    }

    input {
        padding: 10px;
        font-size: 14px;
        width: 80%;
        margin: 10px auto;
    }
    
    input[type="submit"] {
        margin-top: 20px;
        font-size: 14px;
        cursor: pointer;
    }
    
    input::placeholder {
        font-size: 12px;
    }

    span {
        font-size: 10px;
        margin: 0;
    }

    .button {
        padding: 10px 20px;
        border-radius: 5px;
    }

    /* Single page (meetup.html) */
    .display {
        margin-top: 5px;
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .display #col1, .display #col2 {
        border-radius: 5px;
    }

    .questions #reply {
        right: -50px;
    }

    /* Admin Page (admin.html) */
    .hero {
        display: block;
    }
}