<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Meetup | Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/responsive.css" />
    <script src="../assets/js/main.js"></script>
</head>
<body>
    <header>
        <nav id="nav-bar">
            <div class="logo">
                <h1>Questioner</h1>
            </div>
            <div class="back">
                <a href="admin.html"><h3 style="color:orange">Back</h3></a>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">Add a new meetup</div>

            <div class="card-body">
                <form action="#" method="POST" id="form">
                    <div class="form-row">
                        <div class="form-input">
                            <input type="text" name="title" placeholder="Title" autofocus>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <input type="text" name="description" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <input type="date" name="date" >
                        </div>
                        <div class="form-input">
                            <input type="time" name="time" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <label class="btn btn-success" for="image">Select image</label><br>
                            <input type="file" name="images" accept="image/*"><br>
                            <small class="btn btn-danger">Image size should not be more than 100kb</small>
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-input">
                            <input class="button button-blue" type="submit" value="Post">
                        </div>
                    </div>
                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end container -->
</body>
</html>