<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign In | Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/responsive.css" />
    <script src="../assets/js/main.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo text-center">
                <h1>Questioner</h1>
            </div>
        </nav>
    </header>

    <header>
        <div class="hero">
            <div class="hero-copy">
                <h1>Admin Panel</h1>
            </div> <!-- end hero-copy -->

            <div class="hero-image">
                <!-- <img src="img/" alt="hero-image"> -->
                <span class="button add"> + Add new meetup</span>
            </div>
        </div> <!-- end hero -->
    </header>
    <div class="container">
        <div class="wrapper">
            <section class="profile">
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col">
                        <img src="#" alt="image">
                    </div>
                    <div class="col">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Et excepturi, ex temporibus aspernatur atque recusandae deserunt deleniti. 
                        Doloremque modi, corporis facere quidem exercitationem quam, 
                        ipsa ullam deleniti natus nobis repudiandae?
                    </div>
                    <div class="col" id="col3">
                        Date: DD/MM/YYYY <br>
                        Time: MM:HH
                    </div>
                </div>
            </section>
            
        </div> <!-- end wrapper -->
    </div> <!-- end container -->
</body>
</html>