<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome | Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/responsive.css" />
</head>
<body>
    <header>
        <nav>
            <div class="logo text-center">
                <h1>Questioner</h1>
            </div>
        </nav>
    </header>

    <header>
        <div class="home text-center">
            <div class="hero-copy text-center">
                <p class="text-center">Post your questions<br />on any meetup<br /> and receive instant reply</p>
                <button class="button-orange"><a href="register.html">Sign Up</a></button>
            </div>
        </div> <!-- end hero -->
    </header>
    <div class="container">
        <div class="wrapper">
            <h1>Recently posted questions</h1>
            <section class="profile">
                <div class="row meetups">
                    <div class="col" id="col1">
                        <div class="meetup_image"></div>
                    </div>
                    <div class="col" id="col2">
                        <h2>Topic</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aspernatur suscipit dicta dolorem ipsa! Impedit eveniet, distinctio debitis numquam nostrum officia repellat voluptatum odio neque! Reprehenderit rem fuga tempora veniam.</p>
                    </div>
                    <div class="col" id="col3">
                        Date: 01-15-2019<br>
                        Time: 00:00
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <div class="meetup_image"></div>
                    </div>
                    <div class="col" id="col2">
                        <h2>Topic</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aspernatur suscipit dicta dolorem ipsa! Impedit eveniet, distinctio debitis numquam nostrum officia repellat voluptatum odio neque! Reprehenderit rem fuga tempora veniam.</p>
                    </div>
                    <div class="col" id="col3">
                        Date: 01-15-2019<br>
                        Time: 00:00
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <div class="meetup_image"></div>
                    </div>
                    <div class="col" id="col2">
                        <h2>Topic</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aspernatur suscipit dicta dolorem ipsa! Impedit eveniet, distinctio debitis numquam nostrum officia repellat voluptatum odio neque! Reprehenderit rem fuga tempora veniam.</p>
                    </div>
                    <div class="col" id="col3">
                        Date: 01-15-2019<br>
                        Time: 00:00
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <div class="meetup_image"></div>
                    </div>
                    <div class="col" id="col2">
                        <h2>Topic</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aspernatur suscipit dicta dolorem ipsa! Impedit eveniet, distinctio debitis numquam nostrum officia repellat voluptatum odio neque! Reprehenderit rem fuga tempora veniam.</p>
                    </div>
                    <div class="col" id="col3">
                        Date: 01-15-2019<br>
                        Time: 00:00
                    </div>
                </div>
                <div class="row meetups">
                    <div class="col" id="col1">
                        <div class="meetup_image"></div>
                    </div>
                    <div class="col" id="col2">
                        <h2>Topic</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aspernatur suscipit dicta dolorem ipsa! Impedit eveniet, distinctio debitis numquam nostrum officia repellat voluptatum odio neque! Reprehenderit rem fuga tempora veniam.</p>
                    </div>
                    <div class="col" id="col3">
                        Date: 01-15-2019<br>
                        Time: 00:00
                    </div>
                </div>
                <div class="text-center">
                    <button class="button-orange"><a href="meetup.html">See all meetups</a></button>
                </div>

            </section>
            
        </div> <!-- end wrapper -->
    </div> <!-- end container -->
    <script src="../assets/js/avatar.js"></script>
</body>
</html>