<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Account | Questioner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/responsive.css" />
</head>
<body>
    <header>
        <nav id="nav">
            <div class="logo text-center">
                <h1>Questioner</h1>
            </div>
        </nav>
    </header>
    <header>
        <div class="hero">
            <div class="hero-copy">
                <h1>Full Name</h1>
                <small>user@email.com</small>
            </div> <!-- end hero-copy -->

            <div class="hero-image">
                <!-- <img src="img/" alt="hero-image"> -->
            </div>
        </div> <!-- end hero -->
    </header>
    <div class="container">
        <div class="wrapper">
            <section class="profile">
                <h3>User stats:</h3>
                <div class="row stats">
                    <div class="col">
                        Number of questions posted: <br/><br/>
                        Number of questions commented on:
                    </div>
                </div>
                <h3>Top questions from upcoming meetups:</h3>
                <div class="row highlights">
                    <div>
                        <span class="quote"><img src="../assets/img/lq.png" alt="left_quote"></span>
                    </div>
                    <div class="col">
                        What are the requirements for this meetup? Also
                        specify the exact location and time.
                        Thanks in advance.
                    </div>
                    <div>
                        <span class="quote"><img src="../assets/img/rq.png" alt="right_quote"></span>
                    </div>
                </div>
                <div class="row highlights">
                    <div>
                        <span class="quote"><img src="../assets/img/lq.png" alt="left_quote"></span>
                    </div>
                    <div class="col">
                        What are the requirements for this meetup? Also
                        specify the exact location and time.
                        Thanks in advance.
                    </div>
                    <div>
                        <span class="quote"><img src="../assets/img/rq.png" alt="right_quote"></span>
                    </div>
                </div>
                <div class="row highlights">
                    <div>
                        <span class="quote"><img src="../assets/img/lq.png" alt="left_quote"></span>
                    </div>
                    <div class="col">
                        What are the requirements for this meetup? Also
                        specify the exact location and time.
                        Thanks in advance.
                    </div>
                    <div>
                        <span class="quote"><img src="../assets/img/rq.png" alt="right_quote"></span>
                    </div>
                </div>
            </section>
            
        </div> <!-- end wrapper -->
    </div> <!-- end container -->

    <script src="../assets/js/main.js"></script>
</body>
</html>